In [54]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
data=pd.read_csv("mental_health_expanded_data.csv")
data_multi=pd.read_csv("mental_health_expanded_data.csv")
#displaying the first five rows
data_multi.head()

,age,income,education_level,employment_status,gender,social_media_usage,exercise_frequency,sleep_quality,social_support,marital_status,housing_situation,access_to_mental_health_resources,mental_health_status
0,56,96515,Bachelor,Student,Non-Binary,1,Regular,Average,Moderate,Widowed,Rent,Poor,0
1,32,31645,Master,Retired,Non-Binary,0,Regular,Poor,Low,Married,Homeless,Moderate,0
2,60,69144,Associate,Employed,Male,3,Regular,Good,Moderate,Divorced,Own,Moderate,0
3,78,19025,High School,Unemployed,Female,4,Regular,Poor,Moderate,Single,Rent,Poor,0
4,38,58226,Bachelor,Employed,Non-Binary,2,Regular,Average,High,Married,Homeless,Good,0

In [55]:
#Reading data
data=pd.read_csv("mental_health_expanded_data.csv")

In [56]:
data.head()

,age,income,education_level,employment_status,gender,social_media_usage,exercise_frequency,sleep_quality,social_support,marital_status,housing_situation,access_to_mental_health_resources,mental_health_status
0,56,96515,Bachelor,Student,Non-Binary,1,Regular,Average,Moderate,Widowed,Rent,Poor,0
1,32,31645,Master,Retired,Non-Binary,0,Regular,Poor,Low,Married,Homeless,Moderate,0
2,60,69144,Associate,Employed,Male,3,Regular,Good,Moderate,Divorced,Own,Moderate,0
3,78,19025,High School,Unemployed,Female,4,Regular,Poor,Moderate,Single,Rent,Poor,0
4,38,58226,Bachelor,Employed,Non-Binary,2,Regular,Average,High,Married,Homeless,Good,0

In [57]:
data.isnull().sum()

age                                  0
income                               0
education_level                      0
employment_status                    0
gender                               0
social_media_usage                   0
exercise_frequency                   0
sleep_quality                        0
social_support                       0
marital_status                       0
housing_situation                    0
access_to_mental_health_resources    0
mental_health_status                 0
dtype: int64

In [58]:
data.dropna(inplace=True)

In [59]:
data.shape

(6820, 13)

In [60]:
data.columns

Index(['age', 'income', 'education_level', 'employment_status', 'gender',
       'social_media_usage', 'exercise_frequency', 'sleep_quality',
       'social_support', 'marital_status', 'housing_situation',
       'access_to_mental_health_resources', 'mental_health_status'],
      dtype='object')

In [61]:
new_data=data_multi[["age","income","education_level","employment_status","gender",
       "social_media_usage", "exercise_frequency","sleep_quality",
       "social_support","marital_status","housing_situation",
       "access_to_mental_health_resources","mental_health_status"]]
new_data.head()

,age,income,education_level,employment_status,gender,social_media_usage,exercise_frequency,sleep_quality,social_support,marital_status,housing_situation,access_to_mental_health_resources,mental_health_status
0,56,96515,Bachelor,Student,Non-Binary,1,Regular,Average,Moderate,Widowed,Rent,Poor,0
1,32,31645,Master,Retired,Non-Binary,0,Regular,Poor,Low,Married,Homeless,Moderate,0
2,60,69144,Associate,Employed,Male,3,Regular,Good,Moderate,Divorced,Own,Moderate,0
3,78,19025,High School,Unemployed,Female,4,Regular,Poor,Moderate,Single,Rent,Poor,0
4,38,58226,Bachelor,Employed,Non-Binary,2,Regular,Average,High,Married,Homeless,Good,0

In [62]:
new_data.to_csv("mental_health_expanded_data.csv", index=False)

In [63]:
new_data["gender"].unique()

array(['Non-Binary', 'Male', 'Female'], dtype=object)

In [64]:
new_data["education_level"].unique()

array(['Bachelor', 'Master', 'Associate', 'High School', 'Doctorate'],
      dtype=object)

In [65]:
new_data["social_support"].unique()

array(['Moderate', 'Low', 'High'], dtype=object)

In [66]:
new_data["marital_status"].unique()

array(['Widowed', 'Married', 'Divorced', 'Single'], dtype=object)

In [67]:
new_data["exercise_frequency"].unique()

array(['Regular', 'Occasional'], dtype=object)

In [68]:
new_data["housing_situation"].unique()

array(['Rent', 'Homeless', 'Own', 'Live with Family'], dtype=object)

In [69]:
new_data["access_to_mental_health_resources"].unique()

array(['Poor', 'Moderate', 'Good'], dtype=object)

In [70]:
from sklearn.cluster import KMeans
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline

# Define categorical and numerical columns
categorical_cols = ['education_level', 'employment_status', 'gender','exercise_frequency', 'sleep_quality',
       'social_support', 'marital_status', 'housing_situation',
       'access_to_mental_health_resources','diarrhea_status', 'residence', 'Sex', 'age_category', 'education', 'wealth_index']
numerical_cols = ['age','income','mental_health_status','social_media_usage']

# Create a ColumnTransformer for preprocessing
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_cols),  # Standard scaling for numerical columns
        ('cat', OneHotEncoder(), categorical_cols)  # One-hot encoding for categorical columns
    ])

In [71]:
new_data["marital_status"] = pd.factorize(new_data["marital_status"])[0]

In [72]:
new_data["gender"] = pd.factorize(new_data["gender"])[0]

In [73]:
new_data["access_to_mental_health_resources"] = pd.factorize(new_data["access_to_mental_health_resources"])[0]

In [74]:
new_data["housing_situation"] = pd.factorize(new_data["housing_situation"])[0]

In [75]:
new_data["education_level"] = pd.factorize(new_data["education_level"])[0]

In [76]:
new_data["employment_status"] = pd.factorize(new_data["employment_status"])[0]

In [77]:
new_data["sleep_quality"] = pd.factorize(new_data["sleep_quality"])[0]

In [80]:
new_data["social_support"] = pd.factorize(new_data["social_support"])[0]

In [85]:
new_data["exercise_frequency"] = pd.factorize(new_data["exercise_frequency"])[0]

In [86]:
new_data.head()

,age,income,education_level,employment_status,gender,social_media_usage,exercise_frequency,sleep_quality,social_support,marital_status,housing_situation,access_to_mental_health_resources,mental_health_status,social_supportsocial_support
0,56,96515,0,0,0,1,0,0,0,0,0,0,0,0
1,32,31645,1,1,0,0,0,1,1,1,1,1,0,1
2,60,69144,2,2,1,3,0,2,0,2,2,1,0,0
3,78,19025,3,3,2,4,0,1,0,3,0,0,0,0
4,38,58226,0,2,0,2,0,0,2,1,1,2,0,2

In [87]:
new_data.tail()

,age,income,education_level,employment_status,gender,social_media_usage,exercise_frequency,sleep_quality,social_support,marital_status,housing_situation,access_to_mental_health_resources,mental_health_status,social_supportsocial_support
6815,55,73945,3,0,1,6,1,0,0,1,0,0,0,0
6816,60,20380,3,2,2,2,0,2,1,1,1,0,0,1
6817,36,65298,2,2,2,2,1,1,1,0,3,2,1,1
6818,53,95821,2,3,0,4,1,0,1,1,3,1,1,1
6819,50,46578,0,1,1,4,1,0,2,3,3,0,0,2